@font-face {
   font-family: 'Bebas Neue';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/link_mobirise/fonts/Bebas Neue/regular.ttf') format('truetype');
}
